{# app/Resources/views/lucky/number.html.twig #}
{% extends 'mypage_layout.html.twig' %}

{% block body %}

  <div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-pink hover-expand-effect">
        <div class="icon">
          <i class="material-icons">playlist_add_check</i>
        </div>
        <div class="content">
          <div class="text">現在のトータル</div>
          <div class="number count-to" data-from="0" data-to="93.4" data-speed="15" data-fresh-interval="20"></div>
        </div>
      </div>
    </div>

      </div>
    </div>
  </div>
<div class="card">

  <div class="header">
    <h2>Dashboard</h2>
    <ul class="header-dropdown m-r--5">
      <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">more_vert</i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li><a href="javascript:void(0);">Action</a></li>
          <li><a href="javascript:void(0);">Another action</a></li>
          <li><a href="javascript:void(0);">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="body">

    <div class="table-responsive">
      <table class="table table-hover dashboard-task-infos">
        <tr>
          <th>ID</th>
          <td>画像</td>
          <th>投稿日</th>
          <th>サイズ</th>
          <th>状況</th>
        </tr>
          {% for history in histories %}
            <tr>
              <th>{{ history.id }}</th>
              <th><img src={{ livewell_image_path }}{{ history.photo1 }} width="250"></th>
              <th>{{ history.createdAt|date("Y-m-d") }}</th>
              <td>{{ history.size }}</td>
              <td>{% if history.approval %}承認済み{% else %}未承認{% endif %}</td>
            </tr>
          {% endfor %}
      </table>
    </div>


  </div>
</div>

{% endblock %}