{# app/Resources/views/lucky/number.html.twig #}
{% extends 'mypage_layout.html.twig' %}

{% block body %}

<div class="card">

  <div class="header">
    <h2>Dashboard：：現在のトータルスコア {{ totalScore }}cm (トーナメント開催中は正確ではありません)</h2>
    <ul class="header-dropdown m-r--5">
      <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">more_vert</i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li><a href="javascript:void(0);">Action</a></li>
          <li><a href="javascript:void(0);">Another action</a></li>
          <li><a href="javascript:void(0);">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="body">

    <div class="table-responsive">
      <table class="table table-hover dashboard-task-infos">
        <tr>
          <th>ID</th>
          <th>なまえ</th>
          <th>ツアー</th>
          <td>開始</td>
          <td>終了</td>
          <td>ライブウェル</td>
          <td>成績</td>

        </tr>
          {% for tournament in tournamentList %}
            <tr>
              <th>{{ tournament.id }}</th>
              <th>{{ tournament.name }}</th>
              <th>{{ tournament.tour }}</th>
              <td>{{ tournament.startDate.date|date("Y-m-d") }}</td>
              <td>{{ tournament.endDate.date|date("Y-m-d") }}</td>
              <td><a href={{ path('mypage.livewell.add', {"id": tournament.id}) }}>投稿する</a></td>
              <td><a href={{ path('mypage.livewell.history', {"id": tournament.id}) }}>成績を見る</a></td>

            </tr>
          {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}